/* 

    This program is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    This program is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with this program.  If not, see <https://www.gnu.org/licenses/>.

*/

/*
   This code was written by a person with very little Web/JS knowledge, don't judge. 
   https://github.com/quarck/MathGen6th/issues for reporting any issues 
*/


table, td {
    /*border: 1px solid black;  */
    border: 0px; 
    border-collapse: collapse;
}

td.form {
    padding: 15px; 
}

td.problem { 
    padding: 15px; 
    padding-top: 2px; 
    padding-bottom: 18px; 
}
td.answer {
     padding: 2px;                  
}

td.sm_v {
    padding: 20px;
    padding-top: 0px;
    padding-bottom: 0px;
    font-family: 'Courier New', Courier, monospace;
}

.op_a {
    padding: 5px; 
    padding-top: 0px;
    padding-bottom: 0px;
    font-family: 'Courier New', Courier, monospace;
}
.op_b {
    padding: 5px; 
    padding-top: 0px;
    padding-bottom: 0px; 
    border-bottom: 1px solid black;
    font-family: 'Courier New', Courier, monospace;
}

.op_c {
    padding: 0px; 
    padding-bottom: 10px;
    font-family: 'Courier New', Courier, monospace;
}

td.div_left {
    border: 0px;
    padding: 5px; 
    font-family: 'Courier New', Courier, monospace;
}
td.div_right {
    border-left: 1px solid black;
    border-bottom: 1px solid black;
    padding: 5px; 
    font-family: 'Courier New', Courier, monospace;
}