table, td {
    /*border: 1px solid black;  */
    border: 0px; 
    border-collapse: collapse;
}
td.problem { 
    padding: 15px; 
    padding-top: 2px; 
    padding-bottom: 18px; 
}
td.answer {
     padding: 2px;                  
}

td.sm_v {
    padding: 20px;
    padding-top: 0px;
    padding-bottom: 0px;
    font-family: 'Courier New', Courier, monospace;
}

.op_a {
    padding: 5px; 
    padding-top: 0px;
    padding-bottom: 0px;
    font-family: 'Courier New', Courier, monospace;
}
.op_b {
    padding: 5px; 
    padding-top: 0px;
    padding-bottom: 0px; 
    border-bottom: 1px solid black;
    font-family: 'Courier New', Courier, monospace;
}

.op_c {
    padding: 0px; 
    padding-bottom: 10px;
    font-family: 'Courier New', Courier, monospace;
}

td.div_left {
    border: 0px;
    padding: 5px; 
    font-family: 'Courier New', Courier, monospace;
}
td.div_right {
    border-left: 1px solid black;
    border-bottom: 1px solid black;
    padding: 5px; 
    font-family: 'Courier New', Courier, monospace;
}